main {
    height: 600px;
    border: 1px solid #333;
    position: relative;
}

.guy{
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    left: 50%;
    transform: translateX(-50%);
}

.gun {
    
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 100px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}